<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
    <property name="LOG_HOME" value="D:/tomcat6/logs" />  
      
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <Encoding>UTF-8</Encoding>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n  
            </pattern>  
        </layout>  
    </appender>  
      
    <appender name="FILE"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <Encoding>UTF-8</Encoding>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_HOME}/graduation.log.%d{yyyy-MM-dd}.log</FileNamePattern>  
            <MaxHistory>30</MaxHistory>  
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n  
            </pattern>  
        </layout>  
    </appender>  
  
    <root level="WARN">  
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="FILE" />  
    </root>  
</configuration>  